<h3>Test</h3>

<div class="tile-bt-2 solid-blue hovershadow-blue " >
<a href="http://goo.gl/udxFr" target="_blank" class="gradient">
<img src="http://docs.sonhlab.com/images/icons/download-white-circle-48.png" alt="Download">
<span class="white-text">Download</span>
</a></div>