

  <div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div>HeadCount</div>
		</div>
		<br>
		<div class="login">
		
				{{input type="text" placeholder="email" name="user"}}<br>
				{{input type="password" placeholder="password" name="password"}}<br>
				<input type="button" {{action 'login'}} value="Login">
				<input type="button" {{action 'register'}}value="Register">
		</div>