<div class="login">
		<form>
		{{input type="text" placeholder="placeholder" name="user"}}<br>
		{{input type="password" placeholder="placeholder" name="password"}}<br>
		<button {{action 'register'}}>Register</button>
		<button {{action 'login'}}>Login</button>
	</form>
</div>