<h2>Sign in to {{name}}</h2>
<h4>In attendance: {{count}} participants</h4>
{{input value=memberId}}
<button {{action 'submit'}}>Come thru</button><br>
{{#link-to 'dashboard' session.currID}}Back to dashboard{{/link-to}}<br>
{{#link-to 'event' model}}Event Statistics{{/link-to}}